//cgu 
//cgu 
.cgu-wrapper{
    color: $black;
    padding-bottom: 55px;
    
    p{
        margin-top: 15px; 
    }
    h3{
        margin-top: 10px;
    }
    .cgu-box{
        margin: auto;
        padding-top: 100px;
    }
    .no-style{
        li{
            list-style-type: none;
        }
    }
}