//all menus here
.details-project-container{
    background: $dark-background-default;
    
}
.details-project-menu{ 
    display: flex;
    font-family: 'JetBrains Mono';
    // border-bottom: 1px solid $color-gris-2;
    padding-top: 10px; 
    width:68%;
    @include mq.mq($until:large){
        width: 100%;
    }
    margin: auto;
    // padding-bottom: 10px;
    li{
        list-style-type: none; 
        min-width: 100px;
        a{
            color: $white;
            display: block;
            padding: 5px;
            text-align: center;
            text-transform: uppercase;
            border-bottom: 5px solid transparent;
            font-size: 14px;
            min-height: 50px;
            // &:hover{ 
            //     // border-bottom: 5px solid $color-red;
            // }
        }
        a.selected-page{
            font-weight: bold;
            border-bottom: 5px solid $color-red;
        }

    }
}
.category-project-menu{
    li{
        list-style-type: none;
        a{
            color: $color-red;
            text-transform: uppercase;
            font-family: 'JetBrains Mono';
            display: block;
            // background: $white;
            padding: 5px;

            &:hover{
                // text-decoration: underline;
                background: $light-border-color;
            }
        }
    }
}