// Variables

// Font Family
$font-family-heading: 'Fjalla One', sans-serif;
$font-family-body: 'JetBrains Mono', monospace; 
$main-font: 'Lato';
$heading-font: 'Rufina';
$heading-text-color:#0e003b; 
$body-text-color: #68666C;

$dark-background-default: #0e003b; 
$dark-background-default-rgba: rgba(5.5, 0,23.1,0.2);
$dark-background-default-rgba-80: rgba(5.5,0,23.1,0.5);
$background-hover:#0e003b;

// Theme Colors ---------------
$primary-color: #a22742;
$secondary-color: #3333cc;

$color-gris-1: #f2eeed;
$color-gris-2: #e6dddb;


// Other color
$white: #ffffff;
$light-border-color: #f8f8f8;
$color-red: #a22742;
$red-line-color: #a12740;
$green-color: #92d050;
$black: #000000;
$color-inside-circle: #d2eaf1;
$light-blue: #44aadd;
$notify-bt-color:#022540;

//legend de lune colors
$green-legende: #2B6D47;
$blue-legende: #217B9E;
//prince
$yellow-prince: #ECE4A9;
$blue-sasha: #405566;

